*{
    margin:0;
    padding:0;
    
}
.container{
    display:flex;
    justify-content: space-between;
    /* border:2px solid blue; */
    width:1469px;
    height:92px;

}
.container ul{
    
 
margin-top:34px;
    
}
.container li{
   
    display:inline;
    color: black;
    margin-right: 10px;
    text-align: center;
    
    


}
.container li a{
    color:black;
    text-decoration: none;
}
.container img{
    margin:16px 0 16px 120px; 
    width:139px;
    height:60px;
}
.navbar_button{
    margin:24px 120px 25px 0;
padding: 12px 16px 12px 16px;
    color:white;
    background-color: green;
    border-radius:4px;
    width:160px;
    height:40px;
    
}
.navbar_button:hover{
    color:darkorange;
}
.hero_section{
    background-image: url('B13-A01-Knowledge-Vault/assets/hero-bg.png');
    width:1233px;
    height:640px;
    background-repeat: no-repeat;
    padding:16px 120px 16px 120px;
}
.hero_section h1{
    text-align: center;
    font-size: 80px;
    margin-top:20px;
    color:white;
    padding:51px 200px 0px 280px;
}
.hero_section h2{
    text-align: center;
    font-size: 65px;
    color:green;
}
.hero_section p{
    color:white;
    text-align: center;
    width:1250px;
    height:50px;
    margin:10px 0;
    font-size: 18px;
}
.H1{
    padding-right: 55px;
    font-size:62px;
}

.H2{
        text-align: center;
        font-size: 65px;
        color:green;
        /* margin-top:200px; */
        padding-right: 65px;
    }

.button_group{
    display:flex;
    justify-content: center;
    gap:12px;
    padding-left: 40px;
}
.button_left{
    display:flex;
    
    color:white;
    background-color: green;
    font-size: 16px;
    align-items: center;
     width:220px;
    height:50px;
    border-radius: 4px;
}
.button_right{
    color:white;
    background-color:transparent;
    font-size: 16px;
    width:190px;
    height:50px;
    border-radius: 4px;
}
.button_left:hover{
    color:red;
}

.button_right:hover{
    color:red;
}
/* .icon{
    margin-left:6px;
    width:20px;
    height:20px;    
} */

.play-icon{
    color:whitesmoke;
}
.text{
    margin-left:10px;
    font-weight: 400px;
    /* border:2px solid red; */
}
.notes{
    text-align: center;
    width:1369px;
    height:115px;
    /* border:2px solid red; */
    margin:0 60px 20px;
}
.badge{
    background-color: white;
    color:green;
    padding:8px 12px 8px 12px;
    margin-right:80px;
    border-radius: 999px;
    font-size: 16px;
}
.notes_section{
    
    text-align: center;
    width:1360px;
    height:140px;
    /* border:2px solid green; */
    
    margin:0 0 20px 60px;    

}


.notes h1{
    font-size: 45px;
    font-weight: 200px;
    padding-right:10px;
    /* border:2px solid blue; */
    margin-right:120px;
   
}
.notes p{
   
    margin-right: 122px;
    /* border:2px solid red; */

}
.card_container{
    display: flex;
    justify-content: space-between;
    gap:24px;
    background: rgba(255, 255, 255, 1);
    width:1420px;
    /* margin-top:20px; */
    /* margin:44px 120px 71px 120px; */
    /* border:2px solid green; */
    padding:24px;
}
.ellipse_1st{
    width:60px;
    height:60px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:82px 0 0 130px;
    background-image: url('B13-A01-Knowledge-Vault/assets/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.card_first{
    width:320px;
    height:300px;
    /* margin:44px 0 71px 120px; */
    /* border:2px solid red; */
    border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
/* background: rgba(255, 255, 255, 1); */
}
.card_first h3{
    
   font-size: 20px;
    /* border:2px solid red; */
    margin:10px 48px 16px 48px;
    padding-left: 41px;
    /* padding:0 24px 16px 70px; */
}
.card_first p{
    text-align: center;
    color:lightslategray;
}

.card_second{
    width:320px;
    height:300px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    /* margin:44px 24px 71px 120px;} */
    /* border:2px solid red; */
}
.ellipse_2nd{
    width:60px;
    height:60px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:82px 0 0 130px;
    background-image: url('B13-A01-Knowledge-Vault/assets/Bookmarks.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}
.card_second h3{
    font-size: 20px;
    margin:10px 48px 16px 48px;
    /* border:2px solid red; */
    text-align: center;
    /* padding:0 24px 16px 70px; */
}
.card_second p{
    text-align: center;
    color:lightslategray;
}
.ellipse_3rd{
    width:60px;
    height:60px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:82px 0 0 130px;
    background-image: url('B13-A01-Knowledge-Vault/assets/Brain.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}
.card_third{
    width:320px;
    height:300px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    /* margin:44px 24px 71px 120px;} */
    /* border:2px solid red; */
}

.card_third h3{
    font-size:20px;
    margin:10px 48px 16px 48px;
    text-align: center;
    /* border: 2px solid red; */
    /* padding:0 24px 16px 70px; */
}
.card_third p{
    text-align: center;
    color:lightslategray;
}
.ellipse_4th{
    width:60px;
    height:60px;
    background-color:red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:82px 0 0 130px;
    background-image: url('B13-A01-Knowledge-Vault/assets/Info.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}
.card_fourth{
    width:320px;
    height:300px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    /* margin:44px 24px 71px 120px;} */
    /* border:2px solid red; */
}

.card_fourth h3{
    width:170px;
    height:48px;
    font-size: 20px;
    text-align: center;
    /* border:2px solid red; */
    margin:10px 48px 16px 80px;
    
}
.card_fourth p{
    text-align: center;
    color:lightslategray;
}
.knowledge{
    display: flex;
    width:1250px ;
    height:600px; 
   
    margin:120px;
}
.knowledge img{
    /* border:2px solid red; */
    width:550px;
    height:550px;
    margin:0;
    
}
.Brain{
    
    margin:102px 0px 30px 60px;
    width:640px;
    height:120px;
    
    /* border:2px solid red;     */
}
.Brain h3{
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 40px;
    color:black;
    /* border:2px solid red; */
    
}
.Brain h5{
    color:green;
}
.Brain span{
    color:lightslategray;
    

}
.Brain img{  
   
    width:20px;
    height:20px;
}
 
.item1{
    display:flex;
    align-items: center;
    gap:10px;
    margin-top:20px;
   
}
.item2{
    display:flex;
    align-items: center;
    gap:10px;
    
}
.item3{
    display:flex;
    align-items: center;
    gap:10px;
    
}
.item4{
    display:flex;
    align-items: center;
    gap:10px;
    margin-top:6px;
}
.clear{
    text-align: center;
    background-color:whitesmoke;
    margin:120px 120px;
    padding:80px 40px;
    /* border:2px solid red; */

}
.clear_button{
    display: inline-flex;
    align-items: center;
    justify-content:;
    gap:1px; 
    padding:14px 20px;
    
    border-radius: 6px;
    font-size: 16px;
    width:190px;
    height:50px;
    background-color: green;
    color:white;
    /* border:2px solid red; */
    margin:24px 0 24px 0;
}
.clear_button img{
    margin-left: 5px;
    width:17spx;
    height:17px;
}
.clear p{
    color:lightslategray;
}
.clear h2{
    font-size: 40px;
    
}

